force-app/main/default/flows/NotionSync_Account_CreateUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <description>Automatically sync Account records to Notion when created or updated</description>
    <label>Notion Sync: Account Create/Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordTriggers>
        <name>AccountCreateUpdateTrigger</name>
        <label>Account Create/Update Trigger</label>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>CreateNotionSyncEvent</targetReference>
        </connector>
        <object>Account</object>
        <schedule>
            <frequency>Once</frequency>
            <when>AfterSave</when>
        </schedule>
        <triggerType>RecordAfterSave</triggerType>
    </recordTriggers>
    <recordCreates>
        <name>CreateNotionSyncEvent</name>
        <label>Create Notion Sync Event</label>
        <locationX>50</locationX>
        <locationY>200</locationY>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object_Type__c</field>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation_Type__c</field>
            <value>
                <formulaExpression>IF(ISNEW(), 'CREATE', 'UPDATE')</formulaExpression>
            </value>
        </inputAssignments>
        <object>Notion_Sync_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AccountCreateUpdateTrigger</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>