force-app/main/default/flows/NotionSync_Template_Delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <description>Template Flow for Notion sync on record delete. To use: 1) Clone this Flow 2) Change the object from 'Account' to your desired object 3) Update the Object_Type__c value to match your object API name</description>
    <label>Notion Sync Template: Delete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordTriggers>
        <name>TemplateDeleteTrigger</name>
        <label>Template Delete Trigger</label>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>CreateNotionSyncEvent</targetReference>
        </connector>
        <object>Account</object>
        <schedule>
            <frequency>Once</frequency>
            <when>BeforeDelete</when>
        </schedule>
        <triggerType>RecordBeforeDelete</triggerType>
    </recordTriggers>
    <recordCreates>
        <name>CreateNotionSyncEvent</name>
        <label>Create Notion Sync Event</label>
        <locationX>50</locationX>
        <locationY>200</locationY>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object_Type__c</field>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation_Type__c</field>
            <value>
                <stringValue>DELETE</stringValue>
            </value>
        </inputAssignments>
        <object>Notion_Sync_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>TemplateDeleteTrigger</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>